.sidebar-btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    .sidebar-btn {
        transition: width 0.3s;
        width: 150px;
        padding: 1px 15px;
        border-radius: 40px;
        background: rgba(255, 255, 255, 0.05);
        color: #adadad;
        text-decoration: none;
        margin: 0 auto;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-overflow: ellipsis;
        overflow: hidden;

        span {
            margin-left: 5px;
            font-size: 13px;
        }

        &:hover {
            color: #dee2ec
        }
    }
}
.sidebar-header {
    display: flex;
    align-items: center;
    padding: 24px;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;

    .sidebar-logo {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer; // hiện bàn tay khi hover logo hoặc chữ

        span {
            white-space: nowrap; // giữ chữ Dra trên một dòng
        }
    }
}
